{% extends "./app_base.html" %}
{% load simple_vpn_filters %}
{% load static %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block title %}
	{% blocktrans with name=peer.name %}QRCode Tool{% endblocktrans %}
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item">{% trans "Tools" %}</li>
	<li class="breadcrumb-item active" aria-current="page">{% trans "QRCode Generator" %}</li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<h1 class="lead ml-3 mb-5">
				{% blocktrans with name=peer.name %}Generate a QRCode for a WireGuard configuration.{% endblocktrans %}
			</h1>
		</div>
		<div class="col-12 col-md">
			<div class="alert alert-info">{% blocktrans %}<strong class="alert-title">Notice</strong> Data submitted into this form <strong>will not</strong> be uploaded anywhere.{% endblocktrans %}</div>
			<div class="card">
				<div class="card-header">
					{% trans "Text Configuration" %}
				</div>
				<div class="card-body">
					<textarea rows="20" class="form-control" id="config">{{ peer.get_config }}</textarea>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary" onclick="updateQRCode()">
						{% trans "Update" %}
					</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-auto mt-5 mt-md-0">
			<div id="qrcode" class="mx-auto"></div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/qrcode.min.js' %}"></script>
	<script type="text/javascript">
			function updateQRCode () {
		    $("#qrcode").empty();
				let qrcode = new QRCode("qrcode", {correctLevel: QRCode.CorrectLevel.L});
				let config = $('#config').val();
				qrcode.makeCode(config);
      }
		  $('#config').on('change', updateQRCode);
	</script>
{% endblock %}
