{% extends "./app_base.html" %}
{% load bootstrap_pagination %}
{% load i18n %}

{% block title %}{% trans "All Peers" %}{% endblock %}

{% block extra_css %}
	<style>
		#share-link {
			background-image: none;
	    padding-right: 10px;
	    background-color: inherit;
		}
	</style>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item active" aria-current="page">{% trans "Peers" %}</li>
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header d-md-flex justify-content-between">
			<h3>{% trans "Peers | Connections" %}</h3>
      <a href="{% url 'vpn_manager:add_peer' %}" class="btn btn-primary d-block d-md-inline-block">{% trans "New" %}</a>
    </div>
    <div class="card-body table-responsive p-0" style="min-height: 200px">
			<table class="table table-borderless{% if peers %} table-hover{% endif %}">
				{% for peer in peers %}
			    <tr>
			      <td>
				      <span class="lead">{{ peer.name }}</span>
			      </td>
			      <td>
				      {{ peer.address }}
			      </td>
			      <td>
				      <a class="badge badge-success share-link" href="javascript:void(0)" data-id="{{ peer.pk }}" {% if not peer.show_config_token %}style="display: none"{% endif %}>
					      {% trans "Shared" %}
				      </a>
			      </td>
				    <td style="text-align: right">
					    <div class="dropdown show">
							  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="peerOptionsLink{{ peer.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    {% trans "Options" %}
							  </a>
							  <div class="dropdown-menu" aria-labelledby="peerOptionsLink{{ peer.pk }}" id="peerOptionsDropdown{{ peer.pk }}">
								  <a class="dropdown-item share-link" href="javascript:void(0)" data-id="{{ peer.pk }}">{% trans "Share" %}</a>
								  <a class="dropdown-item" href="{% url 'vpn_manager:show_peer' peer.pk %}">{% trans "Show Configuration" %}</a>
								  <a class="dropdown-item" href="{% url 'vpn_manager:edit_peer' peer.pk %}">{% trans "Edit" %}</a>
								  <a class="dropdown-item text-danger" href="{% url 'vpn_manager:delete_peer' peer.pk %}">{% trans "Delete" %}</a>
							  </div>
							</div>
				    </td>
			    </tr>
				{% empty %}
					<tr>
						<td colspan="3" class="d-flex pt-5">
							<div class="mx-auto lead">{% blocktrans %}No connection. Click on the <span class="text-primary font-weight-bold">New</span> button to start adding connections.{% endblocktrans %}</div>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="card-footer">
			{% bootstrap_paginate page_obj %}
		</div>
	</div>
{% endblock %}

{% block modals %}
	<div class="modal fade" id="shareLinkModal" tabindex="-1" role="dialog" aria-labelledby="shareLinkModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title lead" id="shareLinkModalLabel">{% trans "Share Configuration Download Link" %}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#share-link').removeClass('is-valid')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-0">
					<div class="card border-0 mb-0">
						<div class="card-body">
							<div id="link-error">
								<div class="alert alert-danger" id="link-error">{% trans "An error occurred. Please try refreshing the page." %}</div>
							</div>
							<div id="link-spinner">
								<div class="d-flex my-5" id="link-spinner">
									<div class="spinner-grow text-primary mx-auto" role="status">
									  <span class="sr-only">{% trans "Loading" %}</span>
									</div>
								</div>
							</div>
							<div id="link-create">
								<button class="btn btn-block btn-success" id="link-create-btn">{% trans "Create link" %}</button>
							</div>
							<div id="link-show">
								<div class="input-group mb-3">
									<input class="form-control" type="text" id="share-link" readonly />
								  <div class="input-group-append">
								    <button class="btn btn-primary copy-to-clipboard" data-target="#share-link" onclick="$('#share-link').addClass('is-valid')">
									    {% trans "Copy" %}
								    </button>
								  </div>
									<div class="valid-feedback">
						        {% trans "Copied to Clipboard" %}
						      </div>
								</div>
								<button class="btn btn-sm btn-block btn-danger mt-2" id="link-delete-btn">{% trans "Disable Link" %}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		const $linkModal = $('#shareLinkModal');
		const $createBtn = $('#link-create-btn');
		const $deleteBtn = $('#link-delete-btn');
		const $linkInput = $('#share-link');
		const $views = {
		  'spinner': $('#link-spinner'),
			'error': $('#link-error'),
			'create': $('#link-create'),
			'show': $('#link-show')
		}
		let peerId;

		function linkView(requestedView) {
		  let found = false;

		  for (let view in $views) {
	      if (view === requestedView) {
          found = true;
          $views[view].show();
	      } else {
	        $views[view].hide();
	      }
		  }
		  if (!found) {
		    $views.error.show();
		  }
		}

		$('.share-link').on('click', function () {
			peerId = $(this).data('id');

			$linkModal.modal('show');

			// use a framework they said, and they might have been right.
			linkView('spinner');

      $.ajax({
        url: formatUrl('{% url "vpn_manager:peer_link_api" 0 %}', peerId),
        method: 'get',
        timeout: 10000,
        success: function (data, status, XHR) {
					$linkInput.val(data);
					linkView('show');
        },
        error: function (request, status, error) {
		      linkView('create');
        }
      });
		});

		$createBtn.on('click', function () {
			$.ajax({
        url: formatUrl('{% url "vpn_manager:peer_link_api" 0 %}', peerId),
        method: 'post',
        timeout: 10000,
        success: function (data, status, XHR) {
					linkView('show');
					$(`.badge[data-id=${peerId}]`).show();
					$linkInput.val(data);
        },
        error: function (request, status, error) {
		      linkView('error');
        }
      });
    });

		$deleteBtn.on('click', function () {
			$.ajax({
	      url: formatUrl('{% url "vpn_manager:peer_link_api" 0 %}', peerId),
	      method: 'delete',
	      timeout: 10000,
	      success: function (data, status, XHR) {
			    $(`.badge[data-id=${peerId}]`).hide();
					linkView('create');
	      },
	      error: function (request, status, error) {
		      linkView('error');
	      }
			});
		});
	</script>
{% endblock %}
